.local {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  
    img {
      width: 75%;
      height: auto;
    }
  }
  
  .nosotros {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 75%;
  
    p.sobre {
      font-size: 18px;
      align-items: center;
    }
    .ocultar {
      appearance: none;
    }
  }
  


  @media (max-width: 720px) {
    .check {
      input + div {
        display: none;
      }
  
      input:checked + div {
        display: block;
      }

      .noSeleccion {
        user-select: none;
      }
      label.callToAction {
        text-decoration: underline;
        color: blue;
        margin-bottom: 10px;
      }
    }
  
    .local {
      img {
        width: 90vw;
        height: auto;
      }
    }
  }
  
  @media (min-width: 720px) {
    .check {
      input {
        display: none;
      }
      .noSeleccion {
        display: none;
      }
    }
  }
  