.ordenado {
  display: flex;
  justify-content: center;
  gap: 25px;
  text-align: center;
  padding-top: 20px;
  flex-flow: row wrap;
  max-width: 66em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .flex-item {
    padding: 5px;
    text-align: center;
    background-color: #eee;
    box-sizing: border-box;
    width: 250px;
    min-height: 460px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    div {
      h2 {
        font-size: 20px;
        padding-top: 10px;
        font-weight: bold;
      }
      h4 {
        font-size: 16px;
        min-height: 40px;
      }

      h5 {
        font-size: 16px;
      }

      h6 {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .imagen {
      width: 200px;
      height: 250px;
    }
  }
}

.comprar-borrar {
  background-color: #333;
  color: #fff;
  justify-content: space-between;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  &:hover {
    opacity: 0.9;
    color: tomato;
  }
}
