header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #cecaca;
  position: fixed;
  font-size: 18px;
  border-bottom: 1px solid white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  opacity: 0.95;
}
header .logo {
  max-width: 5rem;
}
header .nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}
header .nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 720px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abrir-menu.abrir-menu,
  .cerrar-menu.abrir-menu {
    color: #1c1c1c;
  }
  .abrir-menu.cerrar-menu,
  .cerrar-menu.cerrar-menu {
    color: #ececec;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav .nav-list {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    font-size: 20px;
  }
  .nav .nav-list li a {
    color: #ececec;
  }
}
footer {
  background-color: #f7f7f7;
  padding-top: 50px;
  text-align: center;
  font-size: 16px;
}
footer .footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
footer .footer-container .footer-columna {
  flex-basis: 30%;
  margin-bottom: 30px;
}
footer .footer-container .footer-columna h3 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
footer .footer-container .footer-columna ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-container .footer-columna ul li {
  margin-top: 10px;
}
footer .footer-container .footer-columna ul li a {
  color: #777;
  text-decoration: none;
}
footer .footer-container .footer-columna ul li a:hover {
  color: #333;
}
footer .footer-container .social-links li {
  display: inline-block;
  margin-right: 10px;
}
footer .footer-container .social-links li:last-child {
  margin-right: 0;
}
footer .footer-container .social-links li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
footer .footer-container .social-links li a:hover {
  background-color: tomato;
}
footer .footer-container form input[type=email] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
footer .footer-container form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
footer .footer-container form button:hover {
  background-color: #222;
}
footer .footer-bottom {
  background-color: #ddd;
  padding: 20px 0;
  font-size: 14px;
  color: #777;
}

@media only screen and (max-width: 768px) {
  footer .footer-container {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-container .footer-columna {
    flex-basis: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  footer .footer-container .footer-columna h3 {
    margin-bottom: 20px;
  }
  footer .footer-container .footer-columna ul {
    display: flex;
    flex-direction: column;
  }
  footer .footer-container .footer-columna ul li {
    margin-bottom: 10px;
  }
  footer .footer-container .footer-columna .social-links li {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  footer .footer-container .footer-columna .social-links li:last-child {
    margin-bottom: 0;
  }
  footer .footer-container form {
    margin-top: 30px;
  }
  footer .footer-bottom {
    text-align: center;
  }
}
.descripciones {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.descripciones article {
  margin: 10px;
  padding: 20px;
  background-color: #eee;
  box-sizing: border-box;
}
.descripciones article img {
  width: 100%;
}
.descripciones article h2 {
  margin-top: 15px;
  text-align: center;
}
.descripciones article p {
  margin-bottom: 0;
}
.descripciones article a button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.descripciones article a button:hover {
  color: tomato;
}

@media screen and (max-width: 720px) {
  .descripciones {
    flex-direction: column;
  }
  article {
    margin: 5px;
    padding: 10px;
  }
  article img {
    height: 650px;
  }
}
@media screen and (min-width: 721px) and (max-width: 1000px) {
  .descripciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.ordenado {
  display: flex;
  justify-content: center;
  gap: 25px;
  text-align: center;
  padding-top: 20px;
  flex-flow: row wrap;
  max-width: 66em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.ordenado .flex-item {
  font-family: sans-serif;
  padding: 5px;
  text-align: center;
  background-color: #eee;
  box-sizing: border-box;
  width: 250px;
  min-height: 450px;
}
.ordenado .flex-item div h2 {
  font-size: 20px;
  padding-top: 10px;
  font-weight: bold;
}
.ordenado .flex-item div h4 {
  font-size: 16px;
}
.ordenado .flex-item div h5 {
  font-size: 16px;
}
.ordenado .flex-item div h6 {
  font-size: 18px;
  font-weight: bold;
}
.ordenado .flex-item .imagen {
  width: 200px;
  height: 250px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.formulario form .txt {
  border: none;
  border-bottom: 1px solid #c9c9c9;
  font-size: 14px;
  width: 100%;
  min-height: 40px;
  color: #292929;
  margin-bottom: 20px;
  padding-left: 5px;
}
.formulario form .centrado {
  text-align: center;
}
.formulario form .centrado .butt {
  height: 35px;
  width: 10%;
  text-align: center;
  margin-top: 20px;
  min-width: 120px;
}
.formulario form .margen {
  margin-top: 5px;
}

.local {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.local img {
  width: 75%;
  height: auto;
}

.nosotros {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 75%;
}
.nosotros p.sobre {
  font-size: 18px;
  align-items: center;
}
.nosotros p.eslogan {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-top: 50px;
}
.nosotros .ocultar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media (max-width: 720px) {
  .check input + div {
    display: none;
  }
  .check input:checked + div {
    display: block;
  }
  .check .noSeleccion {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .check label.callToAction {
    text-decoration: underline;
    color: blue;
    margin-bottom: 10px;
  }
  .local img {
    width: 90vw;
    height: auto;
  }
}
@media (min-width: 720px) {
  .check input {
    display: none;
  }
  .check .noSeleccion {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  background-color: #ececec;
  padding-top: 7rem;
  padding-bottom: 50px;
}
main .titulo {
  width: 100%;
  border-bottom: 3px solid gray;
  margin-bottom: 75px;
}
main .titulo h1 {
  text-align: center;
  font-size: 15vw;
  text-shadow: 0px 1vh 0px rgb(182, 182, 182);
  opacity: 0.8;
}
main .titulo2 {
  width: 100%;
  margin-bottom: 75px;
}
main .titulo2 h2 {
  text-align: center;
  font-size: 5vw;
}

.subtitulo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3vw;
}

a:hover {
  color: tomato !important;
}

.banner {
  margin-top: -7rem;
}
.banner img {
  width: 100%;
  max-height: 35rem;
}

.cadena {
  text-align: center;
}

.cartas {
  text-decoration: none;
  color: black;
}

div.foot {
  text-align: start;
  text-decoration: none;
  font-size: 15px;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 50px;
}

#siteIntro {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}
#siteIntro .promoImg img {
  width: 100%;
  height: auto;
}
#siteIntro .promoImg .oferImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;
}

@media (max-width: 720px) {
  #siteIntro {
    grid-template-columns: 1fr;
    padding: 25px;
  }
}/*# sourceMappingURL=main.css.map */