@import "vars";
@import "header";
@import "footer";
@import "index";
@import "productos";
@import "contact";
@import "about";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

main {
  background-color: #ececec;
  padding-top: 7rem;
  padding-bottom: 50px;
  .titulo {
    width: 100%;
    border-bottom: 3px solid gray;
    margin-bottom: 75px;
    h1 {
      text-align: center;
      font-size: 15vw;
      text-shadow: 0px 1vh 0px rgb(182, 182, 182);
      opacity: 0.8;
    }
  }
  .titulo2 {
    width: 100%;
    margin-bottom: 75px;
    h2 {
      text-align: center;
      font-size: 5vw;

    }
  }
}

.subtitulo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3vw;
}

a:hover {
  color: tomato !important;
}

.banner {
  margin-top: -7rem;
  img {
    width: 100%;
    max-height: 35rem;
  }
}

.cadena {
  text-align: center;
}

.cartas {
  text-decoration: none;
  color: black;
}

div.foot {
  text-align: start;
  text-decoration: none;
  font-size: 15px;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 50px;
}

#siteIntro {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;

  .promoImg {
    img {
      width: 100%;
      height: auto;
    }

    .oferImg {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 50%;
    }
  }
}

@media (max-width: 720px) {
  #siteIntro {
    grid-template-columns: 1fr;
    padding: 25px;
  }
}