@import "vars";
@import "header";
@import "footer";
@import "index";
@import "productos";
@import "contact";
@import "about";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

main {
  background-color: #ececec;
  padding-top: 7rem;
  padding-bottom: 50px;
}

h2.titulo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

a:hover {
  color: tomato !important;
}

img.banner {
  width: 100%;
}

.cadena {
  text-align: center;
}

.cartas {
  text-decoration: none;
  color: black;
}

div.foot {
  text-align: start;
  text-decoration: none;
  font-size: 15px;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 50px;
}

#siteIntro {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;

  .promoImg {
    img {
      width: 100%;
      height: auto;
    }

    .oferImg {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 50%;
    }
  }
}

@media (max-width: 720px) {
  #siteIntro {
    grid-template-columns: 1fr;
    padding: 25px;
  }
}
